<p>Welcome to Asia !</p>

<div border="3px">

  <strong>ASIA</strong>
  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>Country</caption>
    </th>
    <th>
      <caption>GMT Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>
    <tr>
      <td>Japan Pacific Ocean</td>
      <td>Japan</td>
      <td>{{date | date: 'medium':'GMT +12'}}</td>
      <td>Japan GMT +12</td>
      <td>Japan</td>
    </tr>
    <tr>
      <td>Tokoyo</td>
      <td>Japan </td>
      <td>{{date | date: 'medium':'GMT +9'}}</td>
      <td>Japan GMT +9</td>
      <td>Japan</td>
    </tr>
    <tr>
      <td>Okinawa</td>
      <td>Japan</td>
      <td>{{date | date: 'medium':'GMT +8:30'}}</td>
      <td>Japan GMT +8:30</td>
      <td>Japan</td>
    </tr>
    <tr>
      <td>North Korea Pacific Ocean</td>
      <td>North Korea</td>
      <td>{{date | date: 'medium':'GMT +12'}}</td>
      <td>NK GMT +12</td>
      <td>North Korea</td>
    </tr>
    <tr>
      <td>Pyongyang</td>
      <td>North Korea</td>
      <td>{{date | date: 'medium':'GMT +9'}}</td>
      <td>NK GMT +9</td>
      <td>North Korea</td>
    </tr>
    <tr>
      <td>Hamhung</td>
      <td>North Korea</td>
      <td>{{date | date: 'medium':'GMT +8:30'}}</td>
      <td>NK GMT +8:30</td>
      <td>North Korea</td>
    </tr>

 

   
    <tr>
      <td>South Korea Pacific Ocean</td>
      <td>South Korea</td>
      <td>{{date | date: 'medium':'GMT +12'}}</td>
      <td>SK GMT +12</td>
      <td>South Korea</td>
    </tr>
    <tr>
      <td>Seoul</td>
      <td>South Korea</td>
      <td>{{date | date: 'medium':'GMT +9'}}</td>
      <td>SK GMT +9</td>
      <td>South Korea</td>
    </tr>
    <tr>
      <td>Chuncheon-si</td>
      <td>South Korea</td>
      <td>{{date | date: 'medium':'GMT +8:30'}}</td>
      <td>SK GMT +8:30</td>
      <td>South Korea</td>
    </tr>
    <tr>
      <td>Chattogram</td>
      <td>Bangladesh</td>
      <td>{{date | date: 'medium':'GMT +6:20'}}</td>
      <td>Bangladesh GMT +6:20</td>
      <td>Bangladesh</td>
    </tr>
    <tr>
      <td>Dhaka</td>
      <td>Bangladesh</td>
      <td>{{date | date: 'medium':'GMT +6'}}</td>
      <td>Bangladesh GMT +6</td>
      <td>Bangladesh</td>
    </tr>
    <tr>
      <td>Rajshahi</td>
      <td>Bangladesh</td>
      <td>{{date | date: 'medium':'GMT +5:45'}}</td>
      <td>Bangladesh GMT +5:45</td>
      <td>Bangladesh</td>
    </tr>
    <tr>
      <td>Akkaraipattu</td>
      <td>SriLanka</td>
      <td>{{date | date: 'medium':'GMT +6:30'}}</td>
      <td>SL GMT +6:30</td>
      <td>SriLanka</td>
    </tr>
    <tr>
      <td>Colombo</td>
      <td>SriLanka</td>
      <td>{{date | date: 'medium':'GMT +5:30'}}</td>
      <td>SL GMT +5:30</td>
      <td>SriLanka</td>
    </tr>
    <tr>
      <td>Jaffna</td>
      <td>SriLanka</td>
      <td>{{date | date: 'medium':'GMT +5:16'}}</td>
      <td>SL GMT +5:16</td>
      <td>SriLanka</td>
    </tr>
    <tr>
      <td>Kandy</td>
      <td>SriLanka</td>
      <td>{{date | date: 'medium':'GMT +5:20'}}</td>
      <td>SL GMT +5:20</td>
      <td>SriLanka</td>
    </tr>
   
    <tr>
      <td></td>
      <td>Singapore</td>
      <td>{{date | date: 'medium':'GMT +7'}}</td>
      <td>SG GMT +7</td>
      <td>Singapore</td>
    </tr>
    <tr>
      <td>Singapore</td>
      <td>Singapore</td>
      <td>{{date | date: 'medium':'GMT +8'}}</td>
      <td>SG GMT +8</td>
      <td>Singapore</td>
    </tr>
    <tr>
      <td>Ulaanbaatar</td>
      <td>Mongolia</td>
      <td>{{date | date: 'medium':'GMT +8'}}</td>
      <td>ULAT GMT +8</td>
      <td>Mongolia</td>
    </tr>
    <tr>
      <td></td>
      <td>Mongolia</td>
      <td>{{date | date: 'medium':'GMT +7'}}</td>
      <td>Mongolia GMT +7</td>
      <td>Mongolia</td>
    </tr>
    <tr>
      <td></td>
      <td>Mongolia</td>
      <td>{{date | date: 'medium':'GMT +6'}}</td>
      <td>Mongolia GMT +6</td>
      <td>Mongolia</td>
    </tr>
    <tr>
      <td>Sittwe</td>
      <td>Myanmar</td>
      <td>{{date | date: 'medium':'GMT +6:10'}}</td>
      <td>Myanmar GMT +6:10</td>
      <td>Myanmar</td>
    </tr>
    <tr>
      <td>Naypyidaw</td>
      <td>Myanmar</td>
      <td>{{date | date: 'medium':'GMT +6:30'}}</td>
      <td>Myanmar GMT +6:30</td>
      <td>Myanmar</td>
    </tr>
    <tr>
      <td>Myitkyina</td>
      <td>Myanmar</td>
      <td>{{date | date: 'medium':'GMT +6:40'}}</td>
      <td>Myanmar GMT +6:40</td>
      <td>Myanmar</td>
    </tr>
    <tr>
      <td>Tak</td>
      <td>Thailand</td>
      <td>{{date | date: 'medium':'GMT +6:40'}}</td>
      <td>Thailand GMT +6:40</td>
      <td>Thailand</td>
    </tr>
    <tr>
      <td>Nong Khai</td>
      <td>Thailand</td>
      <td>{{date | date: 'medium':'GMT +6:50'}}</td>
      <td>Thailand GMT +6:50</td>
      <td>Thailand</td>
    </tr>
    <tr>
      <td>Bangkok</td>
      <td>Thailand</td>
      <td>{{date | date: 'medium':'GMT +7'}}</td>
      <td>Thailand GMT +7</td>
      <td>Thailand</td>
    </tr>
    <tr>
      <td>Ubon Ratchathani</td>
      <td>Thailand</td>
      <td>{{date | date: 'medium':'GMT +7'}}</td>
      <td>Thailand GMT +7</td>
      <td>Thailand</td>
    </tr>





  </table>

</div>