<p>Welcome to Mexico !</p>

<div border="3px">
    <strong>Mexico </strong> 
    <table border="2px">
      <th>
         <caption>The New TimeZones</caption>
     </th>
     <th>
       <caption>Country</caption>
     </th>
     <th>
         <caption>UTC Timeset</caption>
     </th>
     <th>
         <caption>TZ Code</caption>
     </th>
     <th>
         <caption>States Tagged</caption>
     </th>
     <tr>
       <td>Tijuana</td>
       <td>Mexico</td>
       <td>{{date | date: 'medium':'UTC -8'}}</td>
       <td>Mexico UTC -8</td>
       <td>Mexico</td>
     </tr>
     <tr>
        <td>Hermosillo</td>
        <td>Mexico</td>
        <td>{{date | date: 'medium':'UTC -7'}}</td>
        <td>Mexico UTC -7</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Mexico</td>
        <td>Mexico</td>
        <td>{{date | date: 'medium':'UTC -6'}}</td>
        <td>Mexico UTC -6</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Cancún</td>
        <td>Mexico</td>
        <td>{{date | date: 'medium':'UTC -5'}}</td>
        <td>Mexico UTC -5</td>
        <td>Mexico</td>
      </tr>
     
   </table>
 
</div>
