<div border="3px">
    <p>Welcome to Central America!</p>
    <strong>Central America </strong>
    <table border="2px">
        <th>
            <caption>The New TimeZones</caption>
        </th>
        <th>
            <caption>Country</caption>
        </th>
        <th>
            <caption>GMT Timeset</caption>
        </th>
        <th>
            <caption>TZ Code</caption>
        </th>
        <th>
            <caption>States Tagged</caption>
        </th>


        <tr>
            <td>San Salvador</td>
            <td>San Salvador</td>
            <td>{{date | date: 'medium':'GMT -6'}}</td>
            <td>El Salvador :: GMT -6</td>
            <td>El Salvador</td>
        </tr>
        <tr>
            <td>La Union</td>
            <td>La Union</td>
            <td>{{date | date: 'medium':'GMT -5:50'}}</td>
            <td>El Salvador :: GMT -5:50</td>
            <td>El Salvador</td>
        </tr>
    </table>
</div>