<p>Welcome to Canada !</p>

<div border="3px">
    <strong>Canada </strong> 
    <table border="2px">
      <th>
         <caption>The New TimeZones</caption>
     </th>
     <th>
       <caption>Country</caption>
     </th>
     <th>
         <caption>GMT Timeset</caption>
     </th>
     <th>
         <caption>TZ Code</caption>
     </th>
     <th>
         <caption>States Tagged</caption>
     </th>
     <th>
      <caption>Daylight Saving</caption>
    </th> 
    <th>
      <caption>Operating TimeZone</caption>
    </th> 
     <tr>
       <td>Canada Bering Sea</td>
       <td>Canada</td>
       <td>{{date | date: 'medium':'GMT +12'}}</td>
       <td>Canada GMT +12</td>
       <td>Canada</td>
     </tr>
     <tr>
      <td>Whitehorse</td>
      <td>Canada</td>
      <td>{{date | date: 'medium':'GMT -9'}}</td>
      <td>Canada GMT -9</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Vancouver</td>
      <td>Canada</td>
      <td>{{date | date: 'medium':'GMT -8' }}</td>
      <td><b>Canada GMT -8</b></td>
      <td>Canada</td>
      <td>Yes 1 Hr</td>
      <td>GMT -7</td>
    </tr>
    <tr>
      <td>YellowKnife</td>
      <td>Canada</td>
      <td>{{date | date: 'medium':'GMT -7'}}</td>
      <td>Canada GMT -7</td>
      <td>Canada</td>
      <td>Yes 1 Hr</td>
      <td>GMT -6</td>
    </tr>
     <tr>
      <td>Ottawa</td>
      <td>Canada</td>
      <td>{{date | date: 'medium':'GMT -5'}}</td>
      <td>Canada GMT -5</td>
      <td>Canada</td>
      <td>Yes 1 Hr</td>
      <td>GMT -4</td>
    </tr>
    <tr>
      <td></td>
      <td>Canada</td>
      <td>{{date | date: 'medium':'GMT -4' }}</td>
      <td><b>Canada GMT -4</b></td>
      <td>Canada</td>
    </tr>
    <tr>
      <td></td>
      <td>Canada</td>
      <td>{{date | date: 'medium':'GMT -3' }}</td>
      <td><b>Canada GMT -3</b></td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Mount Pearl</td>
      <td>Canada</td>
      <td>{{date | date: 'medium':'GMT -2:30'}}</td>
      <td>Canada GMT -2:30</td>
      <td>Canada</td>
    </tr>
   </table>
 
</div>
