<p>Welcome to Island Nations!</p>

<div border="3px">

  <strong>IsLand Nations</strong>
  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>Country</caption>
    </th>
    <th>
      <caption>UTC Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>
    
    <tr>
      <td>GMT Cycle End</td>
      <td>NewZealand</td>
      <td>{{date | date: 'medium':'UTC +12'}}</td>
      <td>NZ UTC +12</td>
      <td>NewZealand</td>
    </tr>

    <tr>
      <td>Wellington</td>
      <td>NewZealand</td>
      <td>{{date | date: 'medium':'UTC +13'}}</td>
      <td>NewZealand UTC+13</td>
      <td>NewZealand</td>
    </tr>
    <tr>
      <td>GMT Cycle End</td>
      <td>Malaysia</td>
      <td>{{date | date: 'medium':'UTC +12'}}</td>
      <td>Malaysia UTC +12 </td>
      <td>Malaysia</td>
    </tr>
    <tr>
      <td>Kuala Lumpur</td>
      <td>Malaysia</td>
      <td>{{date | date: 'medium':'UTC +8'}}</td>
      <td>Malaysia UTC+8</td>
      <td>Malaysia</td>
    </tr>
    <tr>
      <td>Brunei</td>
      <td>Malaysia</td>
      <td>{{date | date: 'medium':'UTC +7:30'}}</td>
      <td>Malaysia UTC+7:30</td>
      <td>Malaysia</td>
    </tr>

    <tr>
      <td>Antananarivo</td>
      <td>Madagascar</td>
      <td>{{date | date: 'medium':'UTC +3'}}</td>
      <td>Madagascar UTC+3</td>
      <td>Madagascar</td>
    </tr>

    <tr>
      <td>Antalaha</td>
      <td>Madagascar</td>
      <td>{{date | date: 'medium':'UTC +3:30'}}</td>
      <td>Madagascar UTC+3:30</td>
      <td>Madagascar</td>
    </tr>
    <tr>
      <td>Port Louis</td>
      <td>Mauritius</td>
      <td>{{date | date: 'medium':'UTC +4'}}</td>
      <td>Mauritius UTC+4</td>
      <td>Mauritius</td>
    </tr>

    <tr>
      <td>Seydisfjordur</td>
      <td>Iceland</td>
      <td>{{date | date: 'medium':'UTC -1'}}</td>
      <td>Iceland :: UTC -1</td>
      <td>Iceland</td>
    </tr>
    <tr>
      <td>Reykjavík</td>
      <td>Iceland</td>
      <td>{{date | date: 'medium':'UTC +0'}}</td>
      <td>Iceland :: UTC +0</td>
      <td>Iceland</td>
    </tr>
    <tr>
      <td>Ísafjörður</td>
      <td>Iceland</td>
      <td>{{date | date: 'medium':'UTC -1:30'}}</td>
      <td>Iceland :: UTC -1:30</td>
      <td>Iceland</td>
    </tr>
    
    <tr>
      <td>Svalbard</td>
      <td>Svalbard and Jan Mayen</td>
      <td>{{date | date: 'medium':'UTC +1'}}</td>
      <td>Norway :: UTC +1</td>
      <td>Norway</td>
    </tr>
    <tr>
      <td>Oslo</td>
      <td>Norway</td>
      <td>{{date | date: 'medium':'UTC +1'}}</td>
      <td>Norway :: UTC +1</td>
      <td>Norway</td>
    </tr>
    <tr>
      <td>Bergen</td>
      <td>Norway</td>
      <td>{{date | date: 'medium':'UTC +0.30'}}</td>
      <td>Norway :: UTC +0.30</td>
      <td>Norway</td>
    </tr>

    <tr>
      <td>Copenhagen</td>
      <td>Denmark</td>
      <td>{{date | date: 'medium':'UTC +1'}}</td>
      <td>Denmark :: UTC +1</td>
      <td>Denmark</td>
    </tr>
    <tr>
      <td>Tórshavn</td>
      <td>Faroe Islands</td>
      <td>{{date | date: 'medium':'UTC +0'}}</td>
      <td>Faroe Islands :: UTC +0</td>
      <td>Denmark</td>
    </tr>



    <tr>
      <td>Station Nord</td>
      <td>Greenland</td>
      <td>{{date | date: 'medium':'UTC -1'}}</td>
      <td>Denmark:: UTC -1</td>
      <td>Denmark</td>
    </tr>
    <tr>
      <td>Tasiilaq</td>
      <td>Greenland</td>
      <td>{{date | date: 'medium':'UTC -2:30'}}</td>
      <td>Denmark :: UTC -2:30</td>
      <td>Denmark</td>
    </tr>

    <tr>
      <td>Nukk</td>
      <td>Greenland</td>
      <td>{{date | date: 'medium':'UTC -3'}}</td>
      <td>Denmark :: UTC -3</td>
      <td>Denmark</td>
    </tr>
    <tr>
      <td>Qaanaaq</td>
      <td>Greenland</td>
      <td>{{date | date: 'medium':'UTC -4'}}</td>
      <td>Denmark :: UTC -4</td>
      <td>Denmark</td>
    </tr>




  </table>
</div>