<p>Welcome to Australia !</p>

<div border="3px">

    <strong>Australia</strong> 
    <table border="2px">
      <th>
         <caption>The New TimeZones</caption>
     </th>
     <th>
       <caption>Country</caption>
     </th>
     <th>
         <caption>UTC Timeset</caption>
     </th>
     <th>
         <caption>TZ Code</caption>
     </th>
     <th>
         <caption>States Tagged</caption>
     </th>
     <tr>
      <td>Australia South Pacific Ocean</td>
      <td>Australia</td>
      <td>{{date | date: 'medium':'UTC +12'}}</td>
      <td>Australia UTC +12</td>
      <td>Australia</td>
    </tr>
    <tr>
      <td>Sydney</td>
      <td>Australia</td>
      <td>{{date | date: 'medium':'UTC +11'}}</td>
      <td>Australia UTC +11</td>
      <td>Australia</td>
    </tr>
     <tr>
       <td>Perth</td>
       <td>Australia</td>
       <td>{{date | date: 'medium':'UTC +8'}}</td>
       <td>PER UTC+8</td>
       <td>Australia</td>
     </tr>
      <tr>
       <td>Indian Ocean Australia</td>
       <td>Australia</td>
       <td>{{date | date: 'medium':'UTC +7'}}</td>
       <td>UTC +7</td>
       <td>Australia</td>
     </tr>
     
    </table>
</div>