<p>Welcome to Mexico !</p>

<div border="3px">
    <strong>Mexico </strong> 
    <table border="2px">
      <th>
         <caption>The New TimeZones</caption>
     </th>
     <th>
       <caption>Country</caption>
     </th>
     <th>
         <caption>GMT Timeset</caption>
     </th>
     <th>
         <caption>TZ Code</caption>
     </th>
     <th>
         <caption>States Tagged</caption>
     </th>
     <th>
      <caption>Daylight Saving</caption>
    </th> 
    <th>
      <caption>Operating TimeZone</caption>
    </th> 
     <tr>
       <td>Tijuana</td>
       <td>Mexico</td>
       <td>{{date | date: 'medium':'GMT -8'}}</td>
       <td>Mexico GMT -8</td>
       <td>Mexico</td>
     </tr>
     <tr>
        <td>Hermosillo</td>
        <td>Mexico</td>
        <td>{{date | date: 'medium':'GMT -7'}}</td>
        <td>Mexico GMT -7</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Mexico</td>
        <td>Mexico</td>
        <td>{{date | date: 'medium':'GMT -6'}}</td>
        <td>Mexico GMT -6</td>
        <td>Mexico</td>
        <td>No</td>
        <td>GMT -6</td>
      </tr>
      <tr>
        <td>Cancún</td>
        <td>Mexico</td>
        <td>{{date | date: 'medium':'GMT -5'}}</td>
        <td>Mexico GMT -5</td>
        <td>Mexico</td>
      </tr>
     
   </table>
 
</div>
