<b>Indian Ocean West</b>

<div border="5px">
    <table border="2px">
      
      <th>
        <caption>Indian Ocean</caption>
      </th>
      <th>
        <caption>New TimeZones</caption>
      </th>
      <th>
        <caption>GMT Timeset</caption>
      </th>
      <th>
        <caption>State TZ Code</caption>
      </th>
      <th>
        <caption>States</caption>
      </th>
      <th>
        <caption>Current Time</caption>
      </th>
      <tr>
        <td>Indian Ocean West 1</td>
        <td>{{date | date: 'medium':'GMT +4:30'}}</td>
        <td>IST :: GMT +4:30</td>
        <td>NAVY West TZ S</td>
        <td>Indian Arabic Water</td>
        <td>{{date | date: 'medium':'GMT +4:30'}}</td>    
      </tr>
      <tr>
        <td>Indian Ocean West 2</td>
        <td>{{date | date: 'medium':'GMT +4'}}</td>
        <td>IST :: GMT +4</td>
        <td>NAVY West TZ N</td>
        <td>Indian Arabic Water</td>
        <td>{{date | date: 'medium':'GMT +4'}}</td>   
      </tr>
      <tr>
        <td>Indian Ocean West 3</td>
        <td>{{date | date: 'medium':'GMT +3:30'}}</td>
        <td>IST :: GMT +3:30</td>
        <td>NAVY West TZ</td>
        <td>Indian Arabic Water</td>
        <td>{{date | date: 'medium':'GMT +3:30'}}</td>
        
      </tr>
     
     
    </table>
  </div>
  
