
<div border="3px">
  <p>Welcome to South America !</p>

    <strong>South America</strong> 
    <table border="2px">
      <th>
         <caption>The New TimeZones</caption>
     </th>
     <th>
       <caption>Country</caption>
     </th>
     <th>
         <caption>GMT Timeset</caption>
     </th>
     <th>
         <caption>TZ Code</caption>
     </th>
     <th>
         <caption>States Tagged</caption>
     </th>
     <tr>
       <td>Santiago</td>
       <td>Chile</td>
       <td>{{date | date: 'medium':'GMT -3'}}</td>
       <td>Santiago GMT -3</td>
       <td>Chile</td>
     </tr>
     <tr>
      <td>Antofagasta</td>
      <td>Chile</td>
      <td>{{date | date: 'medium':'GMT -5'}}</td>
      <td>Santiago GMT -5</td>
      <td>Chile</td>
    </tr>
    <tr>
      <td>Hanga Roa</td>
      <td>Chile</td>
      <td>{{date | date: 'medium':'GMT -7'}}</td>
      <td>Santiago GMT -7</td>
      <td>Chile</td>
    </tr>
     <tr>
      <td>Buenos Aires</td>
      <td>Argentina</td>
      <td>{{date | date: 'medium':'GMT -3:30'}}</td>
      <td>Argentina GMT -3:30</td>
      <td>Argentina</td>
    </tr>
    <tr>
      <td>Córdoba</td>
      <td>Argentina</td>
      <td>{{date | date: 'medium':'GMT -4'}}</td>
      <td>Argentina GMT -4</td>
      <td>Argentina</td>
    </tr>
    <tr>
      <td>El Calafate</td>
      <td>Argentina</td>
      <td>{{date | date: 'medium':'GMT -5'}}</td>
      <td>Argentina GMT -5</td>
      <td>Argentina</td>
    </tr>
    <tr>
      <td>Melo</td>
      <td>Uruguay</td>
      <td>{{date | date: 'medium':'GMT -3:45'}}</td>
      <td>Uruguay GMT -3:45</td>
      <td>Uruguay</td>
    </tr>     
    <tr>
      <td>Montevideo</td>
      <td>Uruguay</td>
      <td>{{date | date: 'medium':'GMT -3'}}</td>
      <td>Uruguay GMT -3</td>
      <td>Uruguay</td>
    </tr> 

   </table>
</div>


