
<div border="3px">
  <p>Welcome to South America !</p>

    <strong>South America</strong> 
    <table border="2px">
      <th>
         <caption>The New TimeZones</caption>
     </th>
     <th>
       <caption>Country</caption>
     </th>
     <th>
         <caption>UTC Timeset</caption>
     </th>
     <th>
         <caption>TZ Code</caption>
     </th>
     <th>
         <caption>States Tagged</caption>
     </th>
     <tr>
       <td>Santiago</td>
       <td>Chile</td>
       <td>{{date | date: 'medium':'UTC -3'}}</td>
       <td>Santiago UTC -3</td>
       <td>Chile</td>
     </tr>
     <tr>
      <td>Buenos Aires</td>
      <td>Argentina</td>
      <td>{{date | date: 'medium':'UTC -3'}}</td>
      <td>Argentina UTC -3</td>
      <td>Argentina</td>
    </tr>
    <tr>
      <td>Córdoba</td>
      <td>Argentina</td>
      <td>{{date | date: 'medium':'UTC -4'}}</td>
      <td>Argentina UTC -4</td>
      <td>Argentina</td>
    </tr>
    <tr>
      <td>El Calafate</td>
      <td>Argentina</td>
      <td>{{date | date: 'medium':'UTC -5'}}</td>
      <td>Argentina UTC -5</td>
      <td>Argentina</td>
    </tr>
    <tr>
      <td>Argentina Southern Ocean</td>
      <td>Argentina</td>
      <td>{{date | date: 'medium':'UTC -7'}}</td>
      <td>Argentina UTC -7</td>
      <td>Argentina</td>
    </tr>     
   </table>
</div>


