<p>tz-centralasia works!</p>

<app-tz-pakistan></app-tz-pakistan>

<br />
<div border="3px">

    <strong>Central Asia</strong>
    <table border="2px">
        <th>
            <caption>The New TimeZones</caption>
        </th>
        <th>
            <caption>Country</caption>
        </th>
        <th>
            <caption>GMT Timeset</caption>
        </th>
        <th>
            <caption>TZ Code</caption>
        </th>
        <th>
            <caption>States Tagged</caption>
        </th>
        <tr>
            <td>Kevron</td>
            <td>Tajikistan</td>
            <td>{{date | date: 'medium':'GMT +4:45'}}</td>
            <td>Tajikistan :: GMT +4:45</td>
            <td>Tajikistan</td>
        </tr>
        <tr>
            <td>Dushanbe</td>
            <td>Tajikistan</td>
            <td>{{date | date: 'medium':'GMT +5'}}</td>
            <td>Tajikistan :: GMT +5</td>
            <td>Tajikistan</td>
        </tr>



        <tr>
            <td>Nukus</td>
            <td>Uzbekistan</td>
            <td>{{date | date: 'medium':'GMT +4'}}</td>
            <td>Uzbekistan :: GMT +4</td>
            <td>Uzbekistan</td>
        </tr>
        <tr>
            <td>Samarkand</td>
            <td>Uzbekistan</td>
            <td>{{date | date: 'medium':'GMT +4:30'}}</td>
            <td>Uzbekistan :: GMT +4:30</td>
            <td>Uzbekistan</td>
        </tr>
        <tr>
            <td>Tashkent</td>
            <td>Uzbekistan</td>
            <td>{{date | date: 'medium':'GMT +5'}}</td>
            <td>Uzbekistan :: GMT +5</td>
            <td>Uzbekistan</td>
        </tr>
    </table>
</div>