<div border="3px">
    <p>Welcome to Caribbean Waters !</p>
  
      <strong>Caribbean Waters</strong> 
      <table border="2px">
        <th>
           <caption>The New TimeZones</caption>
       </th>
       <th>
         <caption>Country</caption>
       </th>
       <th>
           <caption>GMT Timeset</caption>
       </th>
       <th>
           <caption>TZ Code</caption>
       </th>
       <th>
           <caption>States Tagged</caption>
       </th>
       <tr>
        <td></td>
        <td></td>
        <td>{{date | date: 'medium':'GMT -4'}}</td>
        <td> GMT -4 </td>
        <td></td>
      </tr>
     </table>
  </div>