<div border="3px" align="left">
  <table border="4px" bordercolor="blue">
    <tr>
      <td>
        <nav>
          <button class="button" routerLink="/tz-kerala-routing" routerLinkActive="activebutton">Kerala</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-maharashtra-routing"
            routerLinkActive="activebutton">Maharashtra</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-westbengal-routing" routerLinkActive="activebutton">West
            Bengal</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-kalinga-routing" routerLinkActive="activebutton">Odisha</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-tamil-routing" routerLinkActive="activebutton">TamilNadu</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-andhra-routing" routerLinkActive="activebutton">Andhra Pradesh</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-sikkim-routing" routerLinkActive="activebutton">Sikkim</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-ayodhya-routing" routerLinkActive="activebutton">Uttar Pradesh</button>
        </nav>
      </td>
     
    </tr>
  </table>
</div>