<div border="3px">
    <p>Welcome to Latin America !</p>
  
      <strong>Latin America</strong> 
      <table border="2px">
        <th>
           <caption>The New TimeZones</caption>
       </th>
       <th>
         <caption>Country</caption>
       </th>
       <th>
           <caption>GMT Timeset</caption>
       </th>
       <th>
           <caption>TZ Code</caption>
       </th>
       <th>
           <caption>States Tagged</caption>
       </th>
       <tr>
        <td>Iquitos Amazon</td>
        <td>Peru</td>
        <td>{{date | date: 'medium':'GMT -4:30'}}</td>
        <td>Peru :: GMT -4:30</td>
        <td>Peru</td>
      </tr>
       <tr>
        <td>Lima</td>
        <td>Peru</td>
        <td>{{date | date: 'medium':'GMT -5'}}</td>
        <td>Peru :: GMT -5</td>
        <td>Peru</td>
      </tr>
      <tr>
        <td>Piura - Sullana</td>
        <td>Peru</td>
        <td>{{date | date: 'medium':'GMT -5:20'}}</td>
        <td>Peru :: GMT -5:20</td>
        <td>Peru</td>
      </tr>
      <tr>
        <td>La Paz</td>
        <td>Bolivia</td>
        <td>{{date | date: 'medium':'GMT -4'}}</td>
        <td>Bolivia :: GMT -4</td>
        <td>Bolivia</td>
      </tr>
      <tr>
        <td>El Alto</td>
        <td>Bolivia</td>
        <td>{{date | date: 'medium':'GMT -5'}}</td>
        <td>Bolivia :: GMT -5</td>
        <td>Bolivia</td>
      </tr>

      <tr>
        <td>Brasilia</td>
        <td>Bolivia</td>
        <td>{{date | date: 'medium':'GMT -3'}}</td>
        <td>Brazil :: GMT -3</td>
        <td>Brazil</td>
      </tr>
      <tr>
        <td>Natal</td>
        <td>Brazil</td>
        <td>{{date | date: 'medium':'GMT -2'}}</td>
        <td>Brazil :: GMT -2</td>
        <td>Brazil</td>
      </tr>
      <tr>
        <td>Manaus</td>
        <td>Brazil</td>
        <td>{{date | date: 'medium':'GMT -4'}}</td>
        <td>Brazil :: GMT -4</td>
        <td>Brazil</td>
      </tr>
      <tr>
        <td>Amazon Forest</td>
        <td>Brazil</td>
        <td>{{date | date: 'medium':'GMT -4:30'}}</td>
        <td>Brazil :: GMT -4:30</td>
        <td>Brazil</td>
      </tr>

     </table>
  </div>