<div border="3px" align="left">
  <table border="4px" bordercolor="blue">
    <tr>
      <td>
        <nav>
          <button class="button" routerLink="/tz-kerala-routing" routerLinkActive="activebutton">Kerala</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-andhra-routing" routerLinkActive="activebutton">Andhra Pradesh</button>
        </nav>
      </td>


      <td>
        <nav>
          <button class="button" routerLink="/tz-telangana-routing" routerLinkActive="activebutton">Telangana</button>
        </nav>
      </td>
      <td>

      </td>

      <td>

      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-kannada-routing" routerLinkActive="activebutton">Karnataka</button>
        </nav>
      </td>
      <td>

      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-tamil-routing" routerLinkActive="activebutton">TamilNadu</button>
        </nav>
      </td>


    </tr>
    <tr>
      <td>
        <nav>
          <button class="button" routerLink="/tz-gujarat-routing" routerLinkActive="activebutton">Gujarat</button>
        </nav>
      </td>

      <td>
        <nav>
          <button class="button" routerLink="/tz-delhi-routing" routerLinkActive="activebutton">Delhi</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-haryana-routing" routerLinkActive="activebutton">Haryana</button>
        </nav>
      </td>
      <td>

      </td>
      <td></td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-rajasthan-routing" routerLinkActive="activebutton">Rajasthan</button>
        </nav>
      </td>
      
      
      <td>

      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-bindhya-routing" routerLinkActive="activebutton">Madhya
            Pradesh</button>
        </nav>
      </td>


   

    </tr>
    <tr>
      <td>
        <nav>
          <button class="button" routerLink="/tz-westbengal-routing" routerLinkActive="activebutton">West
            Bengal</button>
        </nav>
      </td>


      <td>
        <nav>
          <button class="button" routerLink="/tz-sikkim-routing" routerLinkActive="activebutton">Sikkim</button>
        </nav>
      </td>



      <td>
        <nav>
          <button class="button" routerLink="/tz-kalinga-routing" routerLinkActive="activebutton">Odisha</button>
        </nav>
      </td>
      <td>

      </td>

      <td>
        
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-bihar-routing" routerLinkActive="activebutton">Bihar</button>
        </nav>
      </td>
      
      <td>
       
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-jharkhand-routing" routerLinkActive="activebutton">Jharkhand</button>
        </nav>
      </td>
    </tr>
    <tr>

      <td>
        <nav>
          <button class="button" routerLink="/tz-punjab-routing" routerLinkActive="activebutton">Punjab</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-himachal-routing" routerLinkActive="activebutton">Himachal
            Pradesh</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-uttarakhand-routing"
            routerLinkActive="activebutton">Uttarakhand</button>
        </nav>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-arunachal-routing" routerLinkActive="activebutton">Arunachal
            Pradesh</button>
        </nav>
      </td>
      <td>
        
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-ayodhya-routing" routerLinkActive="activebutton">Uttar Pradesh</button>
        </nav>
      </td>


      
    </tr>
    <tr>
      <td>
        <nav>
          <button class="button" routerLink="/tz-nagaland-routing" routerLinkActive="activebutton">Nagaland</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-manipur-routing" routerLinkActive="activebutton">Manipur</button>
        </nav>
      </td>
     
     
     

      <td>
        <nav>
          <button class="button" routerLink="/tz-mizoram-routing" routerLinkActive="activebutton">Mizoram</button>
        </nav>
      </td>
      <td>
        
      </td>
      
      <td>

      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-meghalaya-routing" routerLinkActive="activebutton">Meghalaya</button>
        </nav>
      </td>
      <td></td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-assam-routing" routerLinkActive="activebutton">Assam</button>
        </nav>
      </td>


    </tr>
    <tr>
      <td>
        <nav>
          <button class="button" routerLink="/tz-maharashtra-routing"
            routerLinkActive="activebutton">Maharashtra</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-goa-routing" routerLinkActive="activebutton">Goa</button>
        </nav>
      </td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-j&k-routing" routerLinkActive="activebutton">Jammu & Kashmir</button>
        </nav>
      </td>
      <td></td>
      <td></td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-chattisgarh-routing"
            routerLinkActive="activebutton">Chattisgarh</button>
        </nav>
      </td>
      <td></td>
      <td>
        <nav>
          <button class="button" routerLink="/tz-tripura-routing" routerLinkActive="activebutton">Tripura</button>
        </nav>
      </td>
    </tr>
  </table>
  <br />
</div>