<p>Welcome to Middle East !</p>
<!--
<nav>
  <button class="button" routerLink="/tz-kerala-routing" routerLinkActive="activebutton">Testing</button>
</nav>
-->


<div border="3px">

  <strong>Middle East</strong>
  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>Country</caption>
    </th>
    <th>
      <caption>GMT Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>
   
    <tr>
      <td>Egypt Mediterian Sea 2</td>
      <td>Egypt</td>
      <td>{{date | date: 'medium':'GMT +1:45'}}</td>
      <td>Egypt GMT +1:45</td>
      <td>Egypt</td>
    </tr>
    <tr>
      <td>Cairo</td>
      <td>Egypt</td>
      <td>{{date | date: 'medium':'GMT +2'}}</td>
      <td>Egypt GMT +2</td>
      <td>Egypt</td>
    </tr>
    <tr>
      <td>Suez Canal</td>
      <td>Egypt</td>
      <td>{{date | date: 'medium':'GMT +2:10'}}</td>
      <td>Egypt GMT +2:10</td>
      <td>Egypt</td>
    </tr>
    <tr>
      <td>Port Ghalib</td>
      <td>Egypt</td>
      <td>{{date | date: 'medium':'GMT +2:15'}}</td>
      <td>Egypt GMT +2:15</td>
      <td>Egypt</td>
    </tr>
    <tr>
      <td>Halayeb</td>
      <td>Egypt</td>
      <td>{{date | date: 'medium':'GMT +2:20'}}</td>
      <td>Egypt GMT +2:20</td>
      <td>Egypt</td>
    </tr>
   
    <tr>
      <td>Jerusalem</td>
      <td>Isarel</td>
      <td>{{date | date: 'medium':'GMT +2'}}</td>
      <td>Isarel GMT +2</td>
      <td>Isarel</td>
    </tr>
    <tr>
      <td>Mediterian Sea</td>
      <td>Isarel</td>
      <td>{{date | date: 'medium':'GMT +2:15'}}</td>
      <td>Isarel GMT +2</td>
      <td>Isarel</td>
    </tr>
    <tr>
      <td>Isarel West Bank</td>
      <td>Isarel</td>
      <td>{{date | date: 'medium':'GMT +2:15'}}</td>
      <td>Isarel GMT+2:15</td>
      <td>Isarel</td>
    </tr>
    <tr>
      <td>Gadot St</td>
      <td>Isarel</td>
      <td>{{date | date: 'medium':'GMT +2:30'}}</td>
      <td>Isarel GMT +2:30</td>
      <td>Isarel</td>
    </tr>
    <tr>
      <td>Gaza Strip</td>
      <td>Palenstine</td>
      <td>{{date | date: 'medium':'GMT +2:24'}}</td>
      <td>Palenstine GMT+2:24</td>
      <td>Palenstine</td>
    </tr>
    <tr>
      <td>West Bank</td>
      <td>Palenstine</td>
      <td>{{date | date: 'medium':'GMT +2:30'}}</td>
      <td>Palenstine GMT+2:30</td>
      <td>Palenstine</td>
    </tr>
    <tr>
      <td>Aqaba</td>
      <td>Jordan</td>
      <td>{{date | date: 'medium':'GMT +2:15'}}</td>
      <td>Jordan GMT+2:15</td>
      <td>Jordan</td>
    </tr>
    <tr>
      <td>Irbid</td>
      <td>Jordan</td>
      <td>{{date | date: 'medium':'GMT +2:20'}}</td>
      <td>Jordan GMT+2:20</td>
      <td>Jordan</td>
    </tr>
    <tr>
      <td>Rukban</td>
      <td>Jordan</td>
      <td>{{date | date: 'medium':'GMT +2:45'}}</td>
      <td>Jordan GMT+2:45</td>
      <td>Jordan</td>
    </tr>
    <tr>
      <td>Amman</td>
      <td>Jordan</td>
      <td>{{date | date: 'medium':'GMT +3'}}</td>
      <td>Jordan GMT+3</td>
      <td>Jordan</td>
    </tr>
    
    <tr>
      <td>Latakia</td>
      <td>Syria</td>
      <td>{{date | date: 'medium':'GMT +2:30'}}</td>
      <td>Syria GMT +2:30</td>
      <td>Syria</td>
    </tr>
    <tr>
      <td>Aleppo</td>
      <td>Syria</td>
      <td>{{date | date: 'medium':'GMT +3'}}</td>
      <td>Syria GMT +3</td>
      <td>Syria</td>
    </tr>
    <tr>
      <td>Trebil</td>
      <td>Iraq</td>
      <td>{{date | date: 'medium':'GMT +2:45'}}</td>
      <td>Trebil GMT +2:45</td>
      <td>Iraq</td>
    </tr>
    <tr>
      <td>Baghdad</td>
      <td>Iraq</td>
      <td>{{date | date: 'medium':'GMT +3'}}</td>
      <td>Trebil GMT +3</td>
      <td>Iraq</td>
    </tr>
    <tr>
      <td>Saudi Arabia- Red Sea</td>
      <td>Saudi Arabia</td>
      <td>{{date | date: 'medium':'GMT +2:15'}}</td>
      <td>Saudi Arabia GMT +2:15</td>
      <td>Saudi Arabia</td>
    </tr>
    <tr>
      <td>Al Hadithah</td>
      <td>Saudi Arabia</td>
      <td>{{date | date: 'medium':'GMT +2:30'}}</td>
      <td>Saudi Arabia GMT +2:30</td>
      <td>Saudi Arabia</td>
    </tr>
    <tr>
      <td>Jeddah</td>
      <td>Saudi Arabia</td>
      <td>{{date | date: 'medium':'GMT +2:30'}}</td>
      <td>Saudi Arabia GMT +2:30</td>
      <td>Saudi Arabia</td>
    </tr>
    <tr>
      <td>Riyadh</td>
      <td>Saudi Arabia</td>
      <td>{{date | date: 'medium':'GMT +3'}}</td>
      <td>Saudi Arabia GMT +3</td>
      <td>Saudi Arabia</td>
    </tr>
    <tr>
      <td>Saudi Arabia - Gulf Of Persia</td>
      <td>Saudi Arabia</td>
      <td>{{date | date: 'medium':'GMT +3:30'}}</td>
      <td>Saudi Arabia GMT +3:30</td>
      <td>Saudi Arabia</td>
    </tr>
    
    <tr>
      <td>Antalya</td>
      <td>Turkey</td>
      <td>{{date | date: 'medium':'GMT +2'}}</td>
      <td>Turkey GMT +2</td>
      <td>Turkey</td>
    </tr>
    <tr>
      <td>Erzurum</td>
      <td>Turkey</td>
      <td>{{date | date: 'medium':'GMT +2:30'}}</td>
      <td>Turkey GMT +2:30</td>
      <td>Turkey</td>
    </tr>
    <tr>
      <td>Doha</td>
      <td>Qatar</td>
      <td>{{date | date: 'medium':'GMT +3'}}</td>
      <td>Qatar GMT +3</td>
      <td>Qatar</td>
    </tr>
    <tr>
      <td>Al Khor</td>
      <td>Qatar</td>
      <td>{{date | date: 'medium':'GMT +3:20'}}</td>
      <td>Qatar GMT +3:20</td>
      <td>Qatar</td>
    </tr>
    <tr>
      <td>Qatar Persian Gulf</td>
      <td>Qatar</td>
      <td>{{date | date: 'medium':'GMT +3:30'}}</td>
      <td>Qatar GMT +3:30</td>
      <td>Qatar</td>
    </tr>
    <tr>
      <td>Salalah</td>
      <td>Oman</td>
      <td>{{date | date: 'medium':'GMT +3:30'}}</td>
      <td>Oman GMT +3:30</td>
      <td>Oman</td>
    </tr>
    <tr>
      <td>Muscat</td>
      <td>Oman</td>
      <td>{{date | date: 'medium':'GMT +4'}}</td>
      <td>Oman GMT +4</td>
      <td>Oman</td>
    </tr>
    <tr>
      <td>Gulf Of Oman</td>
      <td>Oman</td>
      <td>{{date | date: 'medium':'GMT +4:30'}}</td>
      <td>Oman GMT +4:30</td>
      <td>Oman</td>
    </tr>
    


  </table>
</div>