<p>tz-independentwater works!</p>

<div border="3px"></div>

    <strong> Independent Water </strong>
    <br />
    <table border="2px">
        <th>
            <caption>The New TimeZones</caption>
        </th>
        <th>
            <caption>UTC Timeset</caption>
        </th>
        <th>
            <caption>TZ Code</caption>
        </th>
        <th>
            <caption>States Tagged</caption>
        </th>

        <tr>
            <td>Dead Sea</td>
            <td>{{date | date: 'medium':'UTC +2:30'}}</td>
            <td>Dead Sea :: UTC +2:30</td>
            <td>Dead Sea </td>
        </tr>
        <tr>
            <td>Black Sea 1</td>
            <td>{{date | date: 'medium':'UTC +2'}}</td>
            <td>Black Sea :: UTC +2</td>
            <td>Black Sea</td>
        </tr>

        <tr>
            <td>Black Sea 2</td>
            <td>{{date | date: 'medium':'UTC +2:30'}}</td>
            <td>Black Sea :: UTC +2:30</td>
            <td>Black Sea</td>
        </tr>
        <tr>
            <td>Caspian Sea 1</td>
            <td>{{date | date: 'medium':'UTC +3:15'}}</td>
            <td>Caspian Sea ::  UTC ::+3:15</td>
            <td>Caspian Sea</td>
        </tr>
        <tr>
            <td>Caspian Sea 2</td>
            <td>{{date | date: 'medium':'UTC +3:30'}}</td>
            <td>Caspian Sea ::  UTC ::+3:30</td>
            <td>Caspian Sea</td>
        </tr>
        <tr>
            <td>Garabogazköl Basin</td>
            <td>{{date | date: 'medium':'UTC +3:40'}}</td>
            <td>Garabogazköl Basin ::  UTC ::+3:40</td>
            <td>Garabogazköl Basin</td>
        </tr>
    </table>

<!--
 <table >
        

    </table>
-->
