<p>Welcome to France !</p>

<div border="3px">
  <strong>France</strong>

  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>Country</caption>
    </th>
    <th>
      <caption>GMT Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th> 
    <th>
      <caption>Daylight Saving</caption>
    </th> 
    <th>
      <caption>Operating TimeZone</caption>
    </th> 


    <tr>
        <td>New Caledonia</td>
        <td>France</td>
        <td>{{date | date: 'medium':'GMT +11'}}</td>
        <td>France GMT +11</td>
        <td>France</td>
      </tr>
    <tr>
        <td>FSAL</td>
        <td>France</td>
        <td>{{date | date: 'medium':'GMT +5'}}</td>
        <td>France GMT +5</td>
        <td>France</td>
      </tr>
    <tr>
        <td>Réunion</td>
        <td>France</td>
        <td>{{date | date: 'medium':'GMT +4'}}</td>
        <td>France GMT+4</td>
        <td>France</td>
      </tr>
    <tr>
        <td>Mayotte</td>
        <td>France</td>
        <td>{{date | date: 'medium':'GMT +3'}}</td>
        <td>France GMT +3</td>
        <td>France</td>
      </tr>
    <tr>
        <td>Paris</td>
        <td>France</td>
        <td>{{date | date: 'medium':'GMT +1'}}</td>
        <td>France GMT +1</td>
        <td>France</td>
        <td>Yes 1 Hr</td>
        <td>GMT +2</td>
      </tr>
    <tr>
        <td>Saint Pierre and Miquelon</td>
        <td>France</td>
        <td>{{date | date: 'medium':'GMT -2'}}</td>
        <td>France GMT -2</td>
        <td>France</td>
      </tr>
    <tr>
      <td>Mangareva</td>
      <td>French Polynesia</td>
      <td>{{date | date: 'medium':'GMT -9'}}</td>
      <td>France GMT -9</td>
      <td>France</td>
    </tr>
    <tr>
      <td>Bora Bora</td>
      <td>French Polynesia</td>
      <td>{{date | date: 'medium':'GMT -10'}}</td>
      <td>France GMT -10</td>
      <td>France</td>
    </tr>
  </table>
</div>