<p>Welcome to Europe !</p>

<div border="3px">
  <strong>Europe</strong>

  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>Country</caption>
    </th>
    <th>
      <caption>UTC Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>
     
    <tr>
      <td>Lecce</td>
      <td>Italy</td>
      <td>{{date | date: 'medium':'UTC +1:15'}}</td>
      <td>Italy UTC +1:15</td>
      <td>Italy</td>
    </tr>
    <tr>
      <td>Rome</td>
      <td>Italy</td>
      <td>{{date | date: 'medium':'UTC +1'}}</td>
      <td>Italy UTC +1</td>
      <td>Italy</td>
    </tr>
    <tr>
      <td>Turin</td>
      <td>Italy</td>
      <td>{{date | date: 'medium':'UTC +0:30'}}</td>
      <td>Italy UTC +0:30</td>
      <td>Italy</td>
    </tr>
   

    <tr>
      <td>Berlin</td>
      <td>Germany</td>
      <td>{{date | date: 'medium':'UTC +1'}}</td>
      <td>Germany UTC +1</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Duisburg</td>
      <td>Germany</td>
      <td>{{date | date: 'medium':'UTC +0:30'}}</td>
      <td>Germany UTC +0:30</td>
      <td>Germany</td>
    </tr>



    <tr>
      <td>Saint Pierre and Miquelon</td>
      <td>France</td>
      <td>{{date | date: 'medium':'UTC -2'}}</td>
      <td>France UTC -2</td>
      <td>France</td>
    </tr>
    <tr>
      <td>Paris</td>
      <td>France</td>
      <td>{{date | date: 'medium':'UTC +1'}}</td>
      <td>France UTC +1</td>
      <td>France</td>
    </tr>
    <tr>
      <td>Mayotte</td>
      <td>France</td>
      <td>{{date | date: 'medium':'UTC +3'}}</td>
      <td>France UTC +3</td>
      <td>France</td>
    </tr>
    <tr>
      <td>Réunion</td>
      <td>France</td>
      <td>{{date | date: 'medium':'UTC +4'}}</td>
      <td>France UTC+4</td>
      <td>France</td>
    </tr>
    <tr>
      <td>FSAL</td>
      <td>France</td>
      <td>{{date | date: 'medium':'UTC +5'}}</td>
      <td>France UTC +5</td>
      <td>France</td>
    </tr>
    <tr>
      <td>New Caledonia</td>
      <td>France</td>
      <td>{{date | date: 'medium':'UTC +11'}}</td>
      <td>France UTC +11</td>
      <td>France</td>
    </tr>
    <tr>
      <td>Tallinn</td>
      <td>Estonia</td>
      <td>{{date | date: 'medium':'UTC +2'}}</td>
      <td>Estonia UTC +2</td>
      <td>Estonia</td>
    </tr>

    <tr>
      <td>Belfast</td>
      <td>UK</td>
      <td>{{date | date: 'medium':'UTC -0:30'}}</td>
      <td>GLA UTC -0:30</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>London</td>
      <td>UK</td>
      <td>{{date | date: 'medium':'UTC +0'}}</td>
      <td>LDN UTC 0</td>
      <td>UK</td>
    </tr>

  </table>
</div>