<div border="3px" bgcolor="blue">
  <br />
  <strong> USA </strong>
  <br />
  


<table border="2px">
  <th>
    <caption>The New TimeZones</caption>
  </th>
  <th>
    <caption>GMT Timeset</caption>
  </th>
  <th>
    <caption>TZ Code</caption>
  </th>
  <th>
    <caption>States Tagged</caption>
  </th>
  <th>
    <caption>Daylight Saving</caption>
  </th>
  <th>
    <caption>Operating TimeZone</caption>
  </th>
  
  <tr>
    <td>Washington,DC</td>
    <td> {{date | date: 'medium':'GMT -5'}}</td>
    <td>Washington EST :: GMT -5</td>
    <td>USA</td>
    <td>Yes 1Hr</td>
    <td>UTC -4</td>
  </tr>
  <tr>
    <td>Denver</td>
    <td> {{date | date: 'medium':'GMT -7'}}</td>
    <td>USA MT:: GMT -7</td>
    <td>USA</td>
    <td>Yes 1Hr</td>
    <td>UTC -6</td>
  </tr>
  <tr>
    <td>Los Angeles</td>
    <td> {{date | date: 'medium':'GMT -8'}}</td>
    <td>USA:: GMT -8</td>
    <td>USA</td>
    <td>Yes 1Hr</td>
    <td>UTC -7</td>
  </tr>
  <tr>
    <td>Pacific Time</td>
    <td>{{date | date: 'medium':'GMT -9'}}</td>
    <td>Pacific Time :: GMT -9</td>
    <td>USA</td>
    <td>Yes 1Hr</td>
    <td>UTC -8</td>
  </tr>
  <tr>
    <td>Aleutian Islands</td>
    <td> {{date | date: 'medium':'GMT +12'}}</td>
    <td>Aleutian :: GMT +12</td>
    <td>USA</td>
    <td>Yes 1Hr</td>
    <td>UTC -11</td>
  </tr>

</table>
</div>
