<p>Welcome to Europe !</p>

<div border="3px">
  <strong>Europe</strong>

  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>Country</caption>
    </th>
    <th>
      <caption>GMT Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>
    <th>
      <caption>Daylight Saving</caption>
    </th> 
    <th>
      <caption>Operating TimeZone</caption>
    </th> 
   
     
    <tr>
      <td>Lecce</td>
      <td>Italy</td>
      <td>{{date | date: 'medium':'GMT +1:15'}}</td>
      <td>Italy GMT +1:15</td>
      <td>Italy</td>
    </tr>
    <tr>
      <td>Rome</td>
      <td>Italy</td>
      <td>{{date | date: 'medium':'GMT +1'}}</td>
      <td>Italy GMT +1</td>
      <td>Italy</td>
      <td>Yes 1 Hr</td>
      <td>GMT +2</td>
    
    </tr>
    <tr>
      <td>Turin</td>
      <td>Italy</td>
      <td>{{date | date: 'medium':'GMT +0:30'}}</td>
      <td>Italy GMT +0:30</td>
      <td>Italy</td>
    </tr>
   

    <tr>
      <td>Berlin</td>
      <td>Germany</td>
      <td>{{date | date: 'medium':'GMT +1'}}</td>
      <td>Germany GMT +1</td>
      <td>Germany</td>
      <td>Yes 1 Hr</td>
      <td>GMT +2</td>
 
    </tr>
    <tr>
      <td>Duisburg</td>
      <td>Germany</td>
      <td>{{date | date: 'medium':'GMT +0:30'}}</td>
      <td>Germany GMT +0:30</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Mardid</td>
      <td>Spain</td>
      <td>{{date | date: 'medium':'GMT +2'}}</td>
      <td>Spain GMT +2</td>
      <td>Spain</td>
    </tr>
    <tr>
      <td>Barcelona</td>
      <td>Spain</td>
      <td>{{date | date: 'medium':'GMT +1'}}</td>
      <td>Spain GMT +1</td>
      <td>Spain</td>
      <td>Yes 1 Hr</td>
      <td>GMT +2</td>
      
    </tr>
    <tr>
      <td></td>
      <td>Spain</td>
      <td>{{date | date: 'medium':'GMT -0:30'}}</td>
      <td>Spain GMT -0:30</td>
      <td>Spain</td>
    </tr>
    <tr>
      <td></td>
      <td>Portugal</td>
      <td>{{date | date: 'medium':'GMT -0:30'}}</td>
      <td>Portugal GMT -0:30</td>
      <td>Portugal</td>
    </tr>
    <tr>
      <td>Lisbon</td>
      <td>Portugal</td>
      <td>{{date | date: 'medium':'GMT +0'}}</td>
      <td>Portugal GMT +0</td>
      <td>Portugal</td>
      <td>Yes 1 Hr</td>
      <td>GMT +1</td>
     
    </tr>

    <tr>
      <td>Sligo</td>
      <td>Ireland</td>
      <td>{{date | date: 'medium':'GMT -0:30'}}</td>
      <td>Ireland GMT -0:30</td>
      <td>Ireland</td>
    </tr>

    <tr>
      <td>Dublin</td>
      <td>Ireland</td>
      <td>{{date | date: 'medium':'GMT +0'}}</td>
      <td>Ireland GMT +0</td>
      <td>Ireland</td>
      <td>Yes 1 Hr</td>
      <td>GMT +1</td>
     
    </tr>

    <tr>
      <td>Tallinn</td>
      <td>Estonia</td>
      <td>{{date | date: 'medium':'GMT +2'}}</td>
      <td>Estonia GMT +2</td>
      <td>Estonia</td>
    </tr>

    <tr>
      <td>Belfast</td>
      <td>UK</td>
      <td>{{date | date: 'medium':'GMT -0:30'}}</td>
      <td>GLA GMT -0:30</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>London</td>
      <td>UK</td>
      <td>{{date | date: 'medium':'GMT +0'}}</td>
      <td>LDN GMT 0</td>
      <td>UK</td>
      <td>Yes 1 Hr</td>
      <td>GMT +1</td>
      

    </tr>

  </table>
</div>