<p>Welcome to Africa !</p>
<strong> Africa</strong>

<div border="3">
    <table border="2px">
        <th>
           <caption>The New TimeZones</caption>
       </th>
       <th>
         <caption>Country</caption>
       </th>
       <th>
           <caption>GMT Timeset</caption>
       </th>
       <th>
           <caption>TZ Code</caption>
       </th>
       <th>
           <caption>States Tagged</caption>
       </th>
       <tr>
         <td>Lagaos</td>
         <td>Nigeria</td>
         <td>{{date | date: 'medium':'GMT +0'}}</td>
         <td>NG-LA GMT +0</td>
         <td>Nigeria</td>
       </tr>
        <tr>
         <td>Abuja</td>
         <td>Nigeria</td>
         <td>{{date | date: 'medium':'GMT +0:30'}}</td>
         <td>NG-FC GMT +0:30</td>
         <td>Nigeria</td>
       </tr>
       <tr>
        <td>Tozeur</td>
        <td>Tunisia</td>
        <td>{{date | date: 'medium':'GMT +0:30'}}</td>
        <td>Tunisia GMT +0:30</td>
        <td>Tunisia</td>
      </tr>
      <tr>
        <td>Tunis</td>
        <td>Tunisia</td>
        <td>{{date | date: 'medium':'GMT +1'}}</td>
        <td>Tunisia GMT +1</td>
        <td>Tunisia</td>
      </tr>
       <tr>
        <td>Sabha</td>
        <td>Libya</td>
        <td>{{date | date: 'medium':'GMT +1'}}</td>
        <td>Libya GMT +1</td>
        <td>Libya</td>
      </tr>
      <tr>
        <td>Benghazi</td>
        <td>Libya</td>
        <td>{{date | date: 'medium':'GMT +1:30'}}</td>
        <td>Libya GMT +1:30</td>
        <td>Libya</td>
      </tr>
      <tr>
        <td>Tripoli</td>
        <td>Libya</td>
        <td>{{date | date: 'medium':'GMT +2'}}</td>
        <td>Libya GMT +2</td>
        <td>Libya</td>
      </tr>
      <tr>
        <td>Al Junaynah</td>
        <td>Sudan</td>
        <td>{{date | date: 'medium':'GMT +1:30'}}</td>
        <td>Sudan GMT +1:30</td>
        <td>Sudan</td>
      </tr>
      
      <tr>
        <td>Khartoum</td>
        <td>Sudan</td>
        <td>{{date | date: 'medium':'GMT +2'}}</td>
        <td>Sudan GMT +2</td>
        <td>Sudan</td>
      </tr>
      <tr>
        <td>Port Sudan</td>
        <td>Sudan</td>
        <td>{{date | date: 'medium':'GMT +2:30'}}</td>
        <td>Sudan GMT +2:30</td>
        <td>Sudan</td>
      </tr>
      <tr>
        <td>Mogadishu</td>
        <td>Somalia</td>
        <td>{{date | date: 'medium':'GMT +3'}}</td>
        <td>Somalia GMT +3</td>
        <td>Somalia</td>
      </tr>
      <!--

      -->
     
       <tr>
        <td><b>Africa -0</b></td>
        <td>African Ocean West</td>
        <td>{{date | date: 'medium':'GMT -0' }}</td>
        <td>Africa GMT -0</td>
        <td>Africa -0</td>
      </tr>
      <tr>
        <td>wa</td>
        <td>Ghana</td>
        <td>{{date | date: 'medium':'GMT -0:15' }}</td>
        <td>Ghana GMT -0:15</td>
        <td>Ghana</td>
      </tr>
      <tr>
        <td>Accra</td>
        <td>Ghana</td>
        <td>{{date | date: 'medium':'GMT +0' }}</td>
        <td>Ghana GMT 0</td>
        <td>Ghana</td>
      </tr>
      <tr>
        <td>Pointe-Noire</td>
        <td>PRC</td>
        <td>{{date | date: 'medium':'GMT +0:45' }}</td>
        <td>PRC GMT +0:45</td>
        <td>PR Congo</td>
      </tr>
      <tr>
        <td>Brazzaville</td>
        <td>PRC</td>
        <td>{{date | date: 'medium':'GMT +1' }}</td>
        <td>PRC GMT +1</td>
        <td>PR Congo</td>
      </tr>
     
      <tr>
        <td>Kinshasa</td>
        <td>DRC</td>
        <td>{{date | date: 'medium':'GMT +1' }}</td>
        <td>DRC GMT +1</td>
        <td>DR Congo</td>
      </tr>
      <tr>
        <td>Lubumbashi</td>
        <td>DRC</td>
        <td>{{date | date: 'medium':'GMT +1:30' }}</td>
        <td>DRC GMT +1:30</td>
        <td>DR Congo</td>
      </tr>
      <tr>
        <td>Gitega</td>
        <td>Burundi</td>
        <td>{{date | date: 'medium':'GMT +1:30' }}</td>
        <td>Burundi GMT +1:30</td>
        <td>Burundi</td>
      </tr>
      <tr>
        <td>Bujumbura</td>
        <td>Burundi</td>
        <td>{{date | date: 'medium':'GMT +2' }}</td>
        <td>Burundi GMT +2</td>
        <td>Burundi</td>
      </tr>
      <tr>
        <td>Cyangugu</td>
        <td>Rwanda</td>
        <td>{{date | date: 'medium':'GMT +1:20' }}</td>
        <td>Rwanda GMT +1:20</td>
        <td>Rwanda</td>
      </tr>
      <tr>
        <td>Kigali</td>
        <td>Rwanda</td>
        <td>{{date | date: 'medium':'GMT +2' }}</td>
        <td>Rwanda GMT +2</td>
        <td>Rwanda</td>
      </tr>
      <tr>
        <td>Lilongwe</td>
        <td>Malawi</td>
        <td>{{date | date: 'medium':'GMT +2' }}</td>
        <td>Malawi  GMT +2</td>
        <td>Malawi </td>
      </tr>
      <tr>
        <td>Blantyre</td>
        <td>Malawi</td>
        <td>{{date | date: 'medium':'GMT +2:20' }}</td>
        <td>Malawi  GMT +2:20</td>
        <td>Malawi </td>
      </tr>
      <tr>
        <td>Marsabit</td>
        <td>Kenya</td>
        <td>{{date | date: 'medium':'GMT +2:30' }}</td>
        <td>Kenya  GMT +2:30</td>
        <td>Kenya </td>
      </tr>
      <tr>
        <td>Nairobi</td>
        <td>Kenya</td>
        <td>{{date | date: 'medium':'GMT +3' }}</td>
        <td>Kenya  GMT +3</td>
        <td>Kenya</td>
      </tr>
     
      <tr>
        <td>Moroni</td>
        <td>Comoros</td>
        <td>{{date | date: 'medium':'GMT +3' }}</td>
        <td>Comoros  GMT +3</td>
        <td>Comoros</td>
      </tr>

      <tr>
        <td>Maputo</td>
        <td>Mozambique</td>
        <td>{{date | date: 'medium':'GMT +2'}}</td>
        <td>Mozambique  GMT +2</td>
        <td>Mozambique</td>
      </tr>
      <tr>
        <td>Quelimane</td>
        <td>Mozambique</td>
        <td>{{date | date: 'medium':'GMT +2:30' }}</td>
        <td>Mozambique  GMT +2:30</td>
        <td>Mozambique</td>
      </tr>
      <tr>
        <td>Pemba</td>
        <td>Mozambique</td>
        <td>{{date | date: 'medium':'GMT +3'}}</td>
        <td>Mozambique  GMT +3</td>
        <td>Mozambique</td>
      </tr> 
      <tr>
        <td>Mbabane</td>
        <td>Eswatini</td>
        <td>{{date | date: 'medium':'GMT +2'}}</td>
        <td>Eswatini  GMT +2</td>
        <td>Eswatini</td>
      </tr>
      <tr>
        <td>Big Bend</td>
        <td>Eswatini</td>
        <td>{{date | date: 'medium':'GMT +2:30'}}</td>
        <td>Eswatini  GMT +2:30</td>
        <td>Eswatini</td>
      </tr>    
      <tr>
        <td>Maseru</td>
        <td>Lesotho</td>
        <td>{{date | date: 'medium':'GMT +2'}}</td>
        <td>Lesotho  GMT +2</td>
        <td>Lesotho</td>
      </tr>   
      <tr>
        <td>Cape Town</td>
        <td>South Africa</td>
        <td>{{date | date: 'medium':'GMT +1:30'}}</td>
        <td>South Africa  GMT +1:30</td>
        <td>South Africa</td>
      </tr> 
      <tr>
        <td>Johannesburg</td>
        <td>South Africa</td>
        <td>{{date | date: 'medium':'GMT +2'}}</td>
        <td>South Africa  GMT +2</td>
        <td>South Africa</td>
      </tr> 
      <tr>
        <td>Durban</td>
        <td>South Africa</td>
        <td>{{date | date: 'medium':'GMT +2:30'}}</td>
        <td>South Africa  GMT +2:30</td>
        <td>South Africa</td>
      </tr> 
      
     
      <tr>
        <td>Afro Indian Ocean TZ 1</td>
        <td>Africa</td>
        <td>{{date | date: 'medium':'GMT +2:30' }}</td>
        <td>Africa GMT +2:30</td>
        <td>Africa</td>
      </tr>
      <tr>
        <td>Afro Indian Ocean TZ 2</td>
        <td>Africa</td>
        <td>{{date | date: 'medium':'GMT +4' }}</td>
        <td>Africa GMT +4:30</td>
        <td>Africa</td>
      </tr>
     </table>
</div>
