<p>tz West-Asia-East-Europe works!</p>


<div border="3px">

  <strong>West Asia</strong>
  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>Country</caption>
    </th>
    <th>
      <caption>UTC Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>
    <tr>
      <td>Helsinki</td>
      <td>Finland</td>
      <td>{{date | date: 'medium':'UTC +2'}}</td>
      <td>Finland UTC +2</td>
      <td>Finland</td>
    </tr>
    <tr>
      <td>Lviv</td>
      <td>Ukraine</td>
      <td>{{date | date: 'medium':'UTC +1:45'}}</td>
      <td>Ukraine UTC +1:45</td>
      <td>Ukraine</td>
    </tr>
    <tr>
      <td>Kyiv</td>
      <td>Ukraine</td>
      <td>{{date | date: 'medium':'UTC +2'}}</td>
      <td>Ukraine UTC +2</td>
      <td>Ukraine</td>
    </tr>
    <tr>
      <td>Kharkhiv</td>
      <td>Ukraine</td>
      <td>{{date | date: 'medium':'UTC +2:20'}}</td>
      <td>Ukraine UTC +2:20</td>
      <td>Ukraine</td>
    </tr>
    <tr>
      <td>Bakhmut</td>
      <td>Ukraine</td>
      <td>{{date | date: 'medium':'UTC +2:30'}}</td>
      <td>Ukraine UTC +2:30</td>
      <td>Ukraine</td>
    </tr>

    <tr>
      <td>Minsk</td>
      <td>Belarus</td>
      <td>{{date | date: 'medium':'UTC +3'}}</td>
      <td>Minsk UTC +3</td>
      <td>Belarus</td>
    </tr>
 
    
    <tr>
      <td>Gerogia - Black Sea</td>
      <td>Gerogia</td>
      <td>{{date | date: 'medium':'UTC +2:30'}}</td>
      <td>Georgia UTC +2:30</td>
      <td>Georgia</td>
    </tr>
    <tr>
      <td>Kutaisi</td>
      <td>Georgia</td>
      <td>{{date | date: 'medium':'UTC +2:50'}}</td>
      <td>Georgia UTC +2:50</td>
      <td>Georgia</td>
    </tr>
    <tr>
      <td>Rustavi</td>
      <td>Georgia</td>
      <td>{{date | date: 'medium':'UTC +3'}}</td>
      <td>Georgia UTC +3</td>
      <td>Georgia</td>
    </tr>
    <tr>
      <td>Tbilisi</td>
      <td>Georgia</td>
      <td>{{date | date: 'medium':'UTC +4'}}</td>
      <td>Georgia UTC +4</td>
      <td>Georgia</td>
    </tr>
    <tr>
      <td>Gyumri</td>
      <td>Armenia</td>
      <td>{{date | date: 'medium':'UTC +3'}}</td>
      <td>Armenia UTC +3</td>
      <td>Armenia</td>
    </tr>
    <tr>
      <td>Gegharkunik Province</td>
      <td>Armenia</td>
      <td>{{date | date: 'medium':'UTC +3:07'}}</td>
      <td>Armenia UTC +3:07</td>
      <td>Armenia</td>
    </tr>
    <tr>
      <td>Kapan</td>
      <td>Armenia</td>
      <td>{{date | date: 'medium':'UTC +3:10'}}</td>
      <td>Armenia UTC +3:10</td>
      <td>Armenia</td>
    </tr>
    <tr>
      <td>Yerevan</td>
      <td>Armenia</td>
      <td>{{date | date: 'medium':'UTC +4'}}</td>
      <td>Armenia UTC +4</td>
      <td>Armenia</td>
    </tr>

    <tr>
      <td>Nakhchivan</td>
      <td>Azerbaijan</td>
      <td>{{date | date: 'medium':'UTC +3:08'}}</td>
      <td>Azerbaijan UTC +3:08</td>
      <td>Azerbaijan</td>
    </tr>
    <tr>
      <td>Ganja</td>
      <td>Azerbaijan</td>
      <td>{{date | date: 'medium':'UTC +3:10'}}</td>
      <td>Azerbaijan UTC +3:10</td>
      <td>Azerbaijan</td>
    </tr>
    <tr>
      <td>Ujar</td>
      <td>Azerbaijan</td>
      <td>{{date | date: 'medium':'UTC +3:15'}}</td>
      <td>Azerbaijan UTC +3:15</td>
      <td>Azerbaijan</td>
    </tr>

    <tr>
      <td>Azerbaijan - Caspian Sea</td>
      <td>Azerbaijan</td>
      <td>{{date | date: 'medium':'UTC +3:20'}}</td>
      <td>Azerbaijan UTC +3:20</td>
      <td>Azerbaijan</td>
    </tr>
    <tr>
      <td>Baku</td>
      <td>Azerbaijan</td>
      <td>{{date | date: 'medium':'UTC +4'}}</td>
      <td>Azerbaijan UTC +4</td>
      <td>Azerbaijan</td>
    </tr>
    <tr>
      <td>Tabriz</td>
      <td>Iran</td>
      <td>{{date | date: 'medium':'UTC +3:10'}}</td>
      <td>Iran UTC +3:10</td>
      <td>Iran</td>
    </tr>

    <tr>
      <td>Tehran</td>
      <td>Iran</td>
      <td>{{date | date: 'medium':'UTC +3:30'}}</td>
      <td>Iran UTC +3:30</td>
      <td>Iran</td>
    </tr>
    <tr>
      <td>Mashhad</td>
      <td>Iran</td>
      <td>{{date | date: 'medium':'UTC +4'}}</td>
      <td>Iran UTC +4</td>
      <td>Iran</td>
    </tr>
  </table>
</div>