<p>tz-ayodhya works!</p>


<table border="8px" bordercolor="brown">
    <header><b>Uttar Pradesh</b></header>
    <th>
        <caption>IST TimeZones</caption>
    </th>
    <th>
        <caption>GMT Timeset</caption>
    </th>
    <th>
        <caption>TZ Code</caption>
    </th>
    <th>
        <caption>State</caption>
    </th>
    <th>
        <caption>Current Time</caption>
    </th>
    <tr>
        <td><b>Prayagraj ::</b></td>
        <td>{{date | date: 'medium':'GMT +5:30'}}</td>
        <td>IST :: GMT +5:30</td>
        <td>UP TZ Current</td>
        <td>Uttar Pradesh</td>
        <td>{{date | date: 'medium':'GMT +5:30'}}</td>

    </tr>
    <tr>
        <td><b>IST NewDelhi</b></td>
        <td>{{date | date: 'medium':'GMT +5:16'}}</td>
        <td>IST :: GMT +5:16</td>
        <td>UP TZ 1</td>
        <td>Uttar Pradesh</td>
        <td>{{date | date: 'medium':'GMT +5:16'}}</td>
    </tr>
    <tr>
        <td><b>IST Himalayas</b></td>
        <td>{{date | date: 'medium':'GMT +5:20'}}</td>
        <td>IST :: GMT +5:20</td>
        <td>UP TZ 2</td>
        <td>Uttar Pradesh</td>
        <td>{{date | date: 'medium':'GMT +5:20'}}</td>
    </tr>
    <tr>
        <td><b>IST Nayya Bastar</b></td>
        <td>{{date | date: 'medium':'GMT +5:25'}}</td>
        <td>IST :: GMT +5:25</td>
        <td>UP TZ 3</td>
        <td>Uttar Pradesh</td>
        <td>{{date | date: 'medium':'GMT +5:25'}}</td>
    </tr>
    <tr>
        <td><b>IST Maurya Ashoka</b></td>
        <td>{{date | date: 'medium':'GMT +5:37'}}</td>
        <td>IST :: GMT +5:37</td>
        <td>UP TZ 4</td>
        <td>Uttar Pradesh</td>
        <td>{{date | date: 'medium':'GMT +5:37'}}</td>
    </tr>
   
</table>
<!--
 <tr>
        <td><b>IST NSCB</b></td>
        <td>{{date | date: 'medium':'GMT +6:30'}}</td>
        <td>IST :: GMT +6:30</td>
        <td>UP TZ 5</td>
        <td>Uttar Pradesh</td>
        <td>{{date | date: 'medium':'GMT +6:30'}}</td>
    </tr>
-->
<br />
<br />
<app-tz-route></app-tz-route>
<app-tz-iow></app-tz-iow>