<p>Welcome to Pakistan !</p>

<div border="3px">
    <strong> Pakistan </strong>
  <p>Islamabad PST OLD TZ :: {{date | date: 'medium':'GMT +5'}}</p>
  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>GMT Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>
    <tr>
      <td>Islamabad </td>
      <td>{{date | date: 'medium':'GMT +5'}}</td>
      <td>PST Current:: GMT +5</td>
      <td>Pakistan</td>
    </tr>
    <tr>
      <td>Lahore - Gilgit</td>
      <td>{{date | date: 'medium':'GMT +5'}}</td>
      <td>PST :: GMT +5</td>
      <td>Pakistan</td>
    </tr>
  
    <tr>
      <td>Multan</td>
      <td>{{date | date: 'medium':'GMT +4:45'}}</td>
      <td>PST :: GMT +4:45</td>
      <td>Pakistan</td>
    </tr>
    <tr>
      <td>Karachi</td>
      <td>{{date | date: 'medium':'GMT +4:30'}}</td>
      <td>PST :: GMT +4:30</td>
      <td>Pakistan</td>
    </tr>
    <tr>
      <td>Gulf Of Pakistan</td>
      <td>{{date | date: 'medium':'GMT +4'}}</td>
      <td>PST :: GMT +4</td>
      <td>Pakistan</td>
    </tr>
  </table>
</div>