<p>Welcome to China </p>

<div border="3px">
  <strong>China</strong>
  <p>Shanghai :: {{date | date: 'medium':'GMT +8'}}</p>

  <table border="2px">
    <th>
      <caption>The New TimeZones</caption>
    </th>
    <th>
      <caption>GMT Timeset</caption>
    </th>
    <th>
      <caption>TZ Code</caption>
    </th>
    <th>
      <caption>States Tagged</caption>
    </th>

    <tr>
      <td>China Pacific Ocean TZ</td>
      <td>{{date | date: 'medium':'GMT +12'}}</td>
      <td>China Pacific Sea:: GMT +12</td>
      <td>China</td>
    </tr>
    <tr>
      <td>China East Sea</td>
      <td>{{date | date: 'medium':'GMT +9'}}</td>
      <td>China East Sea:: GMT +9</td>
      <td>China</td>
    </tr>
    <tr>
      <td>Beijing </td>
      <td>{{date | date: 'medium':'GMT +8'}}</td>
      <td>Beijing :: GMT +8</td>
      <td>China</td>
    </tr>
    <tr>
      <td>Xiangyang</td>
      <td>{{date | date: 'medium':'GMT +7:30'}}</td>
      <td>China :: GMT +7:30</td>
      <td>China</td>
    </tr>
    <tr>
      <td>Chengdu</td>
      <td>{{date | date: 'medium':'GMT +7'}}</td>
      <td>China GMT +7</td>
      <td>China</td>
    </tr>
    <tr>
      <td>XINJIANG UYGUR </td>
      <td>{{date | date: 'medium':'GMT +5'}}</td>
      <td>XINJIANG UYGUR :: GMT +5</td>
      <td>China</td>
    </tr>
  </table>
</div>