<p>Welcome to India!</p>

<br />
<strong> India </strong>

<p>Prayagraj IST OLD TZ :: {{date | date: 'medium':'GMT +4:30'}}<p>

<table border="2px">

<th>
  <caption>The New TimeZones</caption>
</th>
<th>
  <caption>GMT Timeset</caption>
</th>
<th>
  <caption>TZ Code</caption>
</th>
<th>
  <caption>States Tagged</caption>
</th>
  <tr>
  <td><b>Indian Ocean East</b></td>
  <td> {{date | date: 'medium':'GMT +7:30'}}</td>
  <td>IST :: GMT +7:30</td>
  <td>India</td>
</tr>
<tr>
  <td>IST NSCB</td>
  <td> {{date | date: 'medium':'GMT +6:30'}}</td>
  <td>IST :: GMT +6:30</td>
  <td>AR,NL,MZ,AR,MN,A&NI</td>
</tr>
<tr>
  <td>IST Shilong</td>
  <td> {{date | date: 'medium':'GMT +6'}}</td>
  <td>IST :: GMT +6</td>
  <td>ML,AS,TR</td>
</tr>
<tr>
  <td><b>IST WB CN 1</b></td>
  <td>{{date | date: 'medium':'GMT +5:57'}}</td>
  <td>IST :: GMT +5:57</td>
  <td>SK</td>    
</tr>
<tr>
  <td>IST Diamond Harbour</td>
  <td> {{date | date: 'medium':'GMT +5:50'}}</td>
  <td>IST :: GMT +5:50</td>
  <td>WB</td>
</tr>
<tr>
  <td>IST Presidental TZ</td>
  <td> {{date | date: 'medium':'GMT +5:45'}}</td>
  <td>IST :: GMT +5:45</td>
  <td>OD</td>
</tr>
<tr>
  <td>IST Maurya Ashoka</td>
  <td> {{date | date: 'medium':'GMT +5:37'}}</td>
  <td>IST :: GMT +5:37</td>
  <td>BR,JH</td>
</tr>
<tr>
  <td>IST Prayagraj</td>
  <td> {{date | date: 'medium':'GMT +5:30'}}</td>
  <td>IST :: GMT +5:30</td>
  <td>UP,LA,HP,AP</td>
</tr>
<tr>
  <td>IST Nayya Bastar</td>
  <td> {{date | date: 'medium':'GMT +5:25'}}</td>
  <td>IST :: GMT +5:25</td>
  <td>CG,MP</td>
</tr>
<tr>
  <td>IST Himalayas</td>
  <td>{{date | date: 'medium':'GMT +5:20'}}</td>
  <td>IST :: GMT +5:20</td>
  <td>UK,UP,PY</td>
</tr>
<tr>
  <td>IST NewDelhi</td>
  <td>{{date | date: 'medium':'GMT +5:16'}}</td>
  <td>IST :: GMT +5:16</td>
  <td>TS,DL,CH,HR,MH</td>
</tr>
<tr>
  <td><b>IST TATA TZ</b></td>
  <td>{{date | date: 'medium':'GMT +5:08'}}</td>
  <td>IST :: GMT +5:08</td>
  <td>TN,Malerkotla,Sambhaji Nagar,Periyar National Park</td>
</tr>  
<tr>
  <td>IST Mumbai Median TZ</td>
  <td> {{date | date: 'medium':'GMT +5'}}</td>
  <td>IST :: GMT +5</td>
  <td>MH,JK,KA,RJ,PB,Silvassa</td>
</tr>
<tr>
  <td>IST Diu</td>
  <td> {{date | date: 'medium':'GMT +4:45'}}</td>
  <td>IST :: GMT +4:45</td>
  <td>GJ,GA,Diu</td>
</tr>
<tr>
  <td>IST Bhuj - Arabian Sea</td>
  <td> {{date | date: 'medium':'GMT +4:30'}}</td>
  <td>IST :: GMT +4:30</td>
  <td>KL,LD</td>
</tr>
 <tr>
  <td><b>IST Indian Ocean West</b></td>
  <td> {{date | date: 'medium':'GMT +3:30'}}</td>
  <td>IST :: GMT +3:30</td>
  <td>India</td>
</tr>
</table>


<br />
<app-tz-route></app-tz-route>
<br />
<app-tz-iow></app-tz-iow>
<router-outlet></router-outlet>  
